{% extends "base_generic.html" %}
{% block content %}

{% if job_list %}
    <ul>
        {% for job in job_list %}
        <li>
            <a href="{{ job.get_absolute_url }}">{{ job.title }}</a>
            <p>{{ job.descr|truncatewords:50 }}</p>
        </li>
        {% endfor %}
  </ul>
{% else %}
    <p>No positions available at the moment. Please check again later</p>
{% endif %}
{% if user.is_authenticated %}
  <p>
      <a href="{% url 'create_job' %}">Create a New Job Posting</a>
  </p>
{% endif %}


{% endblock %}