{% extends "base_generic.html" %}
{% block content %}

{% if job_list %}
    <table class="table_style">
        <tr class="table_row_style">
            <th colspan="1" class="table_header_style">Job Title</th>
            <th colspan="2" class="table_header_style">Job Description</th>
            {% if user.is_authenticated %}
                <th colspan="1" class="table_header_style">Status</th>
                <th colspan="1" class="table_header_style">Created By</th>
                <th colspan="1" class="table_header_style">Applicants</th>
                <th colspan="1" class="table_header_style">Posted On</th>
            {% endif %} 
        </tr>
        {% for job in job_list %}
        <tr class="table_row_style">
            <td><a href="{{ job.get_absolute_url }}">{{ job.title }}</a></td>
            <td colspan="2">{{ job.descr|truncatewords:25 }} </td>
            {% if user.is_authenticated %}
                <td>{{ job.status }}</td>
                <td>{{ job.created_by }}</td>
                <td>
                {% if app_list %}
                    {% for appl in app_list|filter_appplicants:job %}
                        <li><a href="{{ appl.applicant.get_absolute_url }}">{{ appl.applicant }}</a></li>
                    {% endfor %}
                {% endif %}
                </td>
                <td>{{ job.pub_date }}</td>
            {% endif %}            
        </tr>
        {% endfor %}
    </table>
{% else %}
    <p>No positions available at the moment. Please check again later</p>
{% endif %}
{% if user.is_authenticated %}
  <p>
      <a href="{% url 'create_job' %}">Create a New Job Posting</a>
  </p>
{% endif %}


{% endblock %}