{% extends "base_generic.html" %}
{% block content %}

<h1>Job Title: {{ job.title }}</h1>
<p><strong>Job Description:</strong></p>
<p>{{ job.descr }}</p>
{% if user.is_authenticated %}
    <p>
        <form method="post">
            {% csrf_token %}
            <input type="submit" name="Analyze" value="Analyze">
            <input type="submit" name="Applicants" value="Applicants">
            <input type=button value="Back" onClick="javascript:history.go(-1);">
        </form>
    </p>
{% else %}
    <p>
        <form method="post">{% csrf_token %}
            <input type="submit" name="Apply" value="Apply">
            <input type=button value="Back" onClick="javascript:history.go(-1);">
        </form>
    </p>
{% endif %}

{% endblock %}