<!DOCTYPE html>
<html lang="en">
    <head>
        {% block title %}<title>ABC Inc. Careers</title>{% endblock %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    </head>
    <body>
        <h1 class="banner_style">
            <a href="{% url 'index' %}">Careers at ABC Inc.</a>
        </h1>
        <p class="regular_text" style="text-align: right; vertical-align: text-bottom;">
            {% if user.is_authenticated %}
                Hello {{ user.username }}
                <a href="{% url 'logout' %}">Logout</a>
            {% else %}
                <a href="{% url 'login' %}">Login</a>
            {% endif %}
        <div>
            {% block content %}{% endblock %}
        </div>
    </body>
</html>